*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f4f4f;
}

#video-player {
    width: 700px;
    height: 430px;
    padding: 10px 10px 0 10px;
    background-color: #092d50; 
    margin: 60px auto;
}

#video-player:fullscreen {
    position: relative;
    background-color: red; 
    padding: 0 0 0 0;
}

.fullscreen-video {
    width: 100%;
}

#video-player video {
    display: block;
    max-width: 100%;
    margin: 0 auto 5px;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullscreen-controls {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

.button {
    width: 40px;
    height: 30px;
    cursor: pointer;
}

#play-progress-bar {
    width: 50%;
}

.hidden {
    display: none;
}
